
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div id="wrapper">
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a href="/Farmer/Index"><b>Dashboard</b></a>
                </li>
            </ol>
        </div>
    </div>
</div>

@section myscript{
    <script type="text/javascript">
        $(function () {

        });
    </script>
}
