<div class="column col-xs-2 sidebar-offcanvas" style="background-color:aliceblue" id="sidebar">
    <ul class="nav " id="menu">
        <li>
            <a href="#" data-target="#item1" data-toggle="collapse"><strong><i class="glyphicon glyphicon-list"></i> <span class="collapse in hidden-xs"> Farmer Companion <span class="caret"></span></span></strong></a>
            <ul class="nav nav-stacked collapse left-submenu" id="item1">
                <li><a href="/Farmer/Index"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">&nbsp; Dashboard </span></a></li>
                <li><a href="/Farmer/FarmerSurvey"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">&nbsp; Survey Form </span></a></li>
                <li><a href="/Farmer/RecommendedSteps"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">&nbsp; Recommended Steps </span></a></li>
            </ul>
        </li>

        <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> <span class="collapse in hidden-xs">&nbsp; Refresh</span></a></li>
        <li><a href="/Users/Login"><i class="glyphicon glyphicon-log-out"></i> <span class="collapse in hidden-xs">&nbsp; Log out</span></a></li>

    </ul>
</div>
