@using WebAPPFarmerCompanion.Models

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    AlertModel alertMessage = TempData["AlertMessage"] as AlertModel;
}

@{ 
    var CurrentUser = ViewBag.UserProfile;
}

@if (alertMessage != null)
{
    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertMessage)
}

<div id="wrapper">
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a href="/Farmer/Index"><b>Dashboard</b></a>
                </li>
                <li class="breadcrumb-item active">Change Password</li>
            </ol>
        </div>
    </div>
</div>
<h2>ChangePassword</h2>

@using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { id = "changepasswordform" }))
{
    <div class="container-fluid">
        <div class="form-group">
            <div class="input-group has-feedback">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                @Html.TextBox("CurrentPassword", null, new { placeholder = "Current Password", type = "Password", @class = "form-control" })
                <span class="form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group has-feedback">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                @Html.TextBox("NewPassword", null, new { placeholder = "New Password", type = "Password", @class = "form-control" })
                <span class="form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group has-feedback">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                @Html.TextBox("ConfirmPassword", null, new { placeholder = "Confirm Password", type = "Password", @class = "form-control" })
                <span class="form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group modal-footer">
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> Save</button>
        </div>
    </div>
}

@section myscript{
    <script type="text/javascript">
        $(function () {
            $(".form-control").blur(function () {
                if ($(this).val().length == 0) {
                    if ($("[id=CurrentPassword]") == "CurrentPassword") {
                        if ($(this).val ==@CurrentUser.Password)
                        {
                            $(this).parent().addClass("has-success");
                            $(this).parent().removeClass("has-error");
                            $(this).next().html("<span class='glyphicon glyphicon-check'></span>");
                        }
                        else {
                            $(this).parent().addClass("has-error");
                            $(this).parent().removeClass("has-success");
                            $(this).next().html("<span class='glyphicon glyphicon-warning-sign'></span>");
                        }
                    }
                    else {
                        $(this).parent().addClass("has-error");
                        $(this).parent().removeClass("has-success");
                        $(this).next().html("<span class='glyphicon glyphicon-warning-sign'></span>");
                    }
                }
                else {
                }
            });
        });
    </script>

}
